html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #a1aeb7;
  margin: 0;
  text-align: center;
  background-color: rgb(234, 231, 234);
}

/* Global Styles......................................................*/
/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

h1 {
  font-size: 5rem;
  margin: 50% 10% 0 10%;
  padding-top: 50px;
  color: #f0f4f7;
}

h2 {
  font-size: 3.8rem;
  color: #1e3346;
}

p {
  line-height: 2.4rem;
  font-size: 1.6rem;
  margin: 0 12% 5% 12%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px 0 0;
  display: none;
}

nav li {
  float: left;
  margin: 0;
  padding: 8px;
}

nav ul a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  
}

.button {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 10px 10px;
  background-color: #374552;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2rem;
}

.background-container {
  background-image: url(Images/heroimg2.png);
  background-size: cover;
  background-position: center;
}

.header-hero-container {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  margin: 25px 15px;
}

nav img{
  width: 200px;

}

.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.h1class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-top: 15%;
  margin-bottom: 8%;
}

.h1class span {
  padding: 5px;
}

.hero p {
  margin-top: 5%;
  color: aliceblue;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
}

.images-service img {
  width: 100%;
}

.services p{
  margin-bottom: 3%;
  color: rgb(0, 0, 0), 0, 0);
}

.container-service {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* max-width: 1200px; */
  margin-block: 2rem;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.container-service img {
  max-width: 100%;
  /* display: block; */
  object-fit: cover;
  
}

.card {
  display: flex;
  flex-direction: column;
  /* width: clamp(20rem, calc(20rem + 2vw), 22rem); */
  width: 100%;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);




}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}






/* team........................................................ */
.container-team img {
  width: 80%;
}

/* review........................................................ */


.container-review{
  margin: auto;
  width: 100%;
}

article {
  border: 1px solid #023f72 !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  gap: 10px;
  margin: 10px;
  padding: 15px;
  
  font-family: "Nunito", sans-serif;
  color: #374552;
  background-color: rgb(245, 245, 101);
}

article span {
  /* margin-top: 100px; */
  font-style: italic;
  font-weight: bold;
}


/* footer................................................... */

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #505d68;
}

footer li {
  margin: 0;
  padding: 10px 0;
}

.footer-topic{
  font-weight: bold;
  margin-top: 20px;
}








/* small devices (mobile devices, upto 767px) */
@media (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  .div-team-desktop {
    display: none;
  }

  .card {
    width: 80%;
    margin: auto;
    margin-top: 10%;
   }
   
   
   






}







@media only screen and (min-width: 1200px) {
  .header-hero-container {
    width: 1170px;
    margin: auto;
  }

  .services {
    width: 1170px;
    margin: auto;
  }

  .services p{
    width: 60%;
    margin: auto;
    margin-bottom: 25px;
    
  }
  

  .images-service {
    display: flex;
    gap: 10px;
  }

 
  .team {
    width: 1170px;
    margin: auto;
  }

  .container-team {
    display: flex;
    padding: 5% 5%;
  }

  .container-team img {
    max-width: 200px;
    height: 200px;
  }

  .container-team-text {
    width: 40%;
    margin: 5% 10%;
    padding: 0;
  }

  /* team */
  .img-team-mobile {
    display: none;
  }

  .reviews {
    width: 1170px;
    margin: auto;
  }

  .container-review {
    display: flex;
  }

  article{
    width: 30%;
  }


footer {
  width: 1170px;
  margin: auto;
display: flex;
justify-content: space-around;

}

.services{
  width: 1170px;
  }

.container-service {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.card {
  
  width: 25%;


}

nav .toggle {
  display: none;
}

#nav-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

nav {
  display: flex;
  align-items: baseline;
  gap: 20px;
}



}